#ent {
  width:100%;
  font-size: 60px;
  text-align: center;
  background-color: whitesmoke;
  font-family: helvetica;
}
header {
  background-image: url('top_of_tunnel.png');
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  width: 65.5%;
  height: 630px;
  float: right;
}

#content {
  width: 34.5%;
}
h2  {
  font-size: 40px;
  background-color: dodgerblue;
  padding-left: 27px;
}
table {
  width: 100%;
}
article {
  background-color: whitesmoke;
  padding: 15px;
}
body {
}
h3 {
  background-color: lavenderblush;
}

@media only screen (max-width:400px) {
  header {
    width:100%;
    height: 300px;
  }
  #ent {
    width: 50%;
  }
}
