html {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

#rainbow {
  background: -webkit-linear-gradient(left, red, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  background-image: url("img/blue_stars.jpg");
  background-size: cover;
  width: 100%;
}

#title {
  background-color: black;
  color: white;
  font-size: 50pt;
  text-align: center;
  padding: 18px 0 18px 0;
  margin: 0 0 10px 0;
}

p {
  padding: 0;
  margin: 0;
}

.section {
  background-color: black;
  padding: 15px;
  margin-bottom: 1px;
  border-radius: 2px;
}


/*This code has been copied from the original CSS index*/
/*This is the NAVIGATION BAR*/
table {
  width: 100%;
  font-size: ;
  align-self: center;
}

/*This CSS code manipulates both the navbar
and the table in the following section of HTML*/
nav {
  background-color: black;
  align-content: center;
  display: inline-block;
  width: 100%;
}

.navbar_tab {
  background-color: orange;
  width: auto;
  padding: 3.5px;
  margin: 5px;
}


nav ul {
  /* Mess with the BGC to know where the section is*/
  background-color: black;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  display: block;
  width: auto;
}

nav li a {
  color: white;
}

nav li {
  float: ;
  width: auto;
  text-align: center;
  padding: 8px;
  font-size: 1.2rem;
}

nav li:hover {
  background: black;
  color: black;
  border: 4px solid red;
}

nav li ul {
  display: none;
}

nav li:hover ul {
  background-color: black;
  display: inline-grid;
  width: auto;
  position: absolute;
}

.tableheader {
  background-color: black;
  color: red;
  font-size: 35px;
  text-align: center;
}
.fiftypercent {
  width: 50%;
  border-collapse: collapse;
}

.main {
  border: 5px dashed white;
  width: 80%;
  margin-left: 10%;
  border-collapse: collapse;
}

td {
  background-color: black;
  width: auto;
  color: white;
  padding: 5px;
  margin: 5px;
}

.home_page_links {
  font-size: 2rem;
  background-color: black;
  color: white;
  padding: 10px;
}

.home {
  width: 90%;
  padding: 5px;
  margin: 0;
}

/*The following CSS code was copied from the
original index_style*/
#footer {
  background-color: black;
  padding-bottom: 4px;
  margin-top: -4px;
  text-align: center;
}

#footer a {
  color: white;
  background: darkblue;
  padding: 12px;
}

#footer a:hover {
  background: white;
  border: 2px solid blue;
  color: blue;
}


@media only screen (max-width:450px) {
  body {
    padding: 0;
  }

  #header {
    width: 100%;
  }

  nav {
    background-color: white;
    align-content: center;
    display: inline-block;
    width: 100%;
  }

  .navbar_tab {
    background-color: blue;
    width: 5%;
    padding: 0;
    margin: 0;
  }

  .column1 {
    width: 100%;
  }


}
